<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ site.url }}{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <!--<script src="{{ site.url }}{{ '/assets/js/respond.js' | relative_url }}"></script>-->
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="{{ site.url }}{{ '/assets/css/ie.css' | relative_url }}">
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  {% include /functions/print-js-teachermode.html %}
</head>

{% if site.teacherMode == true %}
  {% if page != Nil %}
    {% assign localKey = page.type | append: ";" | append: page.acronym %}
      <body onload="colorSelection( '{{ localKey }}' )">
  {% endif %}
{% else %}
  <body>
{% endif %}


<div class="navbar">

  <a href="{{ site.url }}{{ '' | relative_url }}">Home</a>
  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.context %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 20%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/stakeholders.html' | relative_url }}">{% t stakeholders.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/stakeholderRoles.html' | relative_url }}">{% t stakeholderRoles.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/goals.html' | relative_url }}">{% t goals.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/systemContextElements.html' | relative_url }}">{% t systemContext.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/glossary.html' | relative_url }}">{% t glossary.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/domainModels.html' | relative_url }}">{% t domainModels.navLabel %}</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.informal %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 34%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/personas.html' | relative_url }}">{% t personas.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/scenarios.html' | relative_url }}">{% t scenarios.navLabel %}</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.formal %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 32%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/functionalRequirements.html' | relative_url }}">{% t functionalRequirements.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/nonFunctionalRequirements.html' | relative_url }}">{% t nonFunctionalRequirements.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/priorizations.html' | relative_url }}">{% t priorization.navLabel %}</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.detailed %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 40%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/useCaseDiagrams.html' | relative_url }}">{% t useCaseDiagrams.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/useCases.html' | relative_url }}">{% t useCases.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/userStories.html' | relative_url }}">{% t userStories.navLabel %}</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.qs %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 50%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/reviews.html' | relative_url }}">{% t reviews.navLabel %}</a>
      <a href="{{ site.url }}{{ '/overview/authors.html' | relative_url }}">{% t authors.navLabel %}</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.sources %}<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <span style="float:left; width: 50%"><p>&nbsp;</p></span>
        <a href="{{ site.url }}{{ '/overview/interviews.html' | relative_url }}">{% t interviews.navLabel %}</a>
        <a href="{{ site.url }}{{ '/overview/workshops.html' | relative_url }}">{% t workshops.navLabel %}</a>
        <a href="{{ site.url }}{{ '/overview/surveys.html' | relative_url }}">{% t surveys.navLabel %}</a>
        <a href="{{ site.url }}{{ '/overview/literatureReferences.html' | relative_url }}">{% t literatureReferences.navLabel %}</a>
      </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">{% t global.navbar.about %}<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 60%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/documentation/faq.html' | relative_url }}">{% t global.navbar.faq %}</a>
      <a href="{{ site.url }}{{ '/documentation/tutorial.html' | relative_url }}">{% t global.navbar.tutorial %}</a>
      <a href="{{ site.url }}{{ '/documentation/version.html' | relative_url }}">{% t global.navbar.version %}</a>
    </div>
  </div>

{% if site.teacherMode == true %}
  <div class="subnav">
    <button class="subnavbtn">Teacher Mode<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <span style="float:left; width: 65%"><p>&nbsp;</p></span>
      <a href="{{ site.url }}{{ '/overview/artefacts.csv' | relative_url }}">{% t teacherMode.exportCSVNavLabel %}</a>
    </div>
  </div>
{% endif %}

</div>




<div class="wrapper">
  <section>
    {{ content }}
  </section>
</div>


<footer>
<a href="{{ site.url }}{{ '/overview/documentation.html' | relative_url }}">Dokumentation</a> &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.th-koeln.de/hochschule/impressum_8159.php">Impressum</a> &nbsp;&nbsp;&nbsp;
<a href="https://www.th-koeln.de/hochschule/haftungshinweis_8277.php">Haftungshinweis</a> &nbsp;&nbsp;&nbsp;
<a href="https://www.th-koeln.de/hochschule/datenschutzhinweis_8279.php">Datenschutzhinweis</a>
</footer>


{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
